
body {
  background: #f0f2f5;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.container {
  background: #fff;
  padding: 1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 1rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

.text-input {
  padding: 0.25rem;
  font-size: 1.2rem;
  background: #f0f2f5;
  flex: 1 0 auto;
  border: 1px solid #ccd0d5;
  border-radius: 0.5rem;
}

.submit-btn {
  background-color: #1877f2;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  border: transparent;
  font-size: 1.2rem;
  margin-left: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.alert {
  margin-bottom: 1.5rem;
  height: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.alert.error {
  background: #f02849;
  color: #fff;
}

.alert.success {
  background: #42b72a;
  color: #fff;
}
.btn{
  font-size: 1.5rem;
  margin-left: 0.7rem;
  cursor: pointer;
}